.sidenav {
  width: 300px;
  height: 2000px;
  background: #1990df;
}

.avator {
  width:60%;
  height:auto;
  border-radius: 50%;
}

.raised-text{
  padding:5px;
  color:white;
}

.raised {
  color:white;
}