<div class="sidenav" layout-fill
     [@sidenavState]="sideNavbarState">


  <div class="md-padding" layout="row" layout-align="center center">
    <img class="avator" src="assets/images/avator.png">
  </div>

  <div class="md-padding" layout="column" layout-align="center center">
    <h4 class="raised-text">Aquariuslt</h4>
    <span class="raised-text">WoWer,Coder</span>
  </div>


  <md-list layout="column">
    <md-list-item>
      <button md-button flex layout-fill>
        <span class="raised-text" flex></span>
      </button>
    </md-list-item>
    <md-list-item>
      <button md-button flex layout-fill>
        <span class="raised-text" flex>Socials</span>
      </button>
    </md-list-item>
    <md-list-item>
      <button md-button flex layout-fill>
        <span class="raised-text">Friend Links</span>
      </button>
    </md-list-item>
  </md-list>
</div>