{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-stage-0",
      {
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "lodash"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        [
          "@babel/preset-stage-0",
          {
            "decoratorsLegacy": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
