# idea
.idea
*.iml

# os
.DS_Store


# vscode
.vscode

# nodejs
node_modules
package-lock.json
yarn.lock

# logs
*.log
*.log.*.gz

# build & distribution
.cache
build
dist

# coverage reports
reports
coverage
