<div layout="column" ng-controller="headerController">
  <section layout="row">
    <md-toolbar class="md-toolbar-tools md-whiteframe-glow">
      <div>
        <md-button class="md-icon-button"
                   ng-click="toggleLeft()"
                   aria-label="Menu">
          <ng-md-icon icon="subject"></ng-md-icon>
        </md-button>
      </div>
      <div>
        <md-button>
          Aquariuslt Home
        </md-button>
      </div>
    </md-toolbar>
  </section>

  <section layout="column">
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('xl')"
      md-whiteframe="4">
      <md-toolbar layout="row" class="md-toolbar-tools md-whiteframe-glow">
        <md-button>Features</md-button>
      </md-toolbar>

      <md-content>
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>ChatRoom</h3>
              <p>Online chat room using socket.io and redis</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <a class="no-decoration" href="http://blog.aquariuslt.com">
                <h3>Blog</h3>
              </a>
              <p>Life Style Blog</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <a class="no-decoration" ng-href="http://debug.aquariuslt.com">
                <h3>Debug</h3>
              </a>
              <p>Debug note for work projects</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <a class="no-decoration" href="http://game.aquariuslt.com">
                <h3>Game</h3>
              </a>
              <p>WoW memory</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
  </section>
</div>