<div layout="column">
  <section layout="row" ng-controller="headerController">
    <md-toolbar class="md-toolbar-tools md-whiteframe-glow">
      <div>
        <md-button class="md-icon-button"
                   ng-click="toggleLeft()"
                   aria-label="Menu">
          <ng-md-icon icon="subject"></ng-md-icon>
        </md-button>
      </div>
      <div>
        <md-button>
          Aquariuslt Home
        </md-button>
      </div>
    </md-toolbar>
  </section>

  <section layout="column" ng-controller='navbarController'>
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-whiteframe="4">
      <md-toolbar layout="row" class="md-toolbar-tools md-whiteframe-glow">
        <md-button>Aquariuslt Home</md-button>
      </md-toolbar>

      <md-content>
        <!-- Toggle Menu -->
        <div layout="column" class="md-2-line" ng-click="isSubSiteMenuOpen = !isSubSiteMenuOpen">
          <md-button layout="row" class="md-button" flex-auto>
            <div><span>Sub Sites</span></div>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="menu" layout-align="end">
              <ng-md-icon icon="{{isSubSiteMenuOpen?'clear_all':'reorder'}}"></ng-md-icon>
            </md-button>
          </md-button>

          <md-button class="md-button"
                     layout="row"
                     ng-show="isSubSiteMenuOpen"
                     ng-repeat="subSite in subSiteList"
                     flex-auto>
            <a class="no-decoration" ng-href="{{subSite.link}}">
              <md-tooltip md-direction="right">{{subSite.description}}</md-tooltip>
              <span>{{subSite.name}}</span>
            </a>
          </md-button>
        </div>

        <div layout="column" class="md-2-line" ng-click="isFeaturesMenuOpen = !isFeaturesMenuOpen">
          <md-button layout="row" class="md-button" flex-auto>
            <div><span>Features</span></div>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="menu" layout-align="end">
              <ng-md-icon icon="{{isFeaturesMenuOpen?'clear_all':'reorder'}}"></ng-md-icon>
            </md-button>
          </md-button>

          <md-button class="md-button"
                     layout="row"
                     ng-show="isFeaturesMenuOpen"
                     ng-repeat="feature in featureList"
                     flex-auto>
            <a class="no-decoration" ng-href="{{feature.link}}">
              <md-tooltip md-direction="right">{{feature.description}}</md-tooltip>
              <span>{{feature.name}}</span>
            </a>
          </md-button>

        </div>
      </md-content>
    </md-sidenav>
  </section>
</div>

