<!-- SideNav -->
<section layout="row"
         class="sidenav">
  <div class="sidenav-content md-whiteframe-2dp"
       layout-fill
       [@sideNavState]="sideNavState"
       [hidden]="hideSideNav">
    <div class="md-padding avator-background" layout="row" >
      <div flex="30">
        <img class="avator" [src]="blog.avatorUrl">
      </div>
      <div class="md-padding" layout="column" layout-align="end end" flex>
        <h4 class="raised">{{blog.author}}</h4>
        <span class="raised">{{blog.description}}</span>
      </div>
    </div>
    


    <md-list layout="column">

      <div *ngFor="let blogLinksCategory of blog.blogLinks;let i = index;">
        <md-list-item>
          <button md-button flex
                  (click)="toggleLinksOpenStatus(i)"
                  layout-fill layout-wrap>
          <span layout="row" layout-align="center center">
            <span class="raised">{{blogLinksCategory.category}}</span>
            <span flex></span>
            <button md-icon-button [disabled]="true">
              <md-icon class="raised">
                {{subLinksOpenStatus[i]?'keyboard_arrow_up':'keyboard_arrow_down'}}
              </md-icon>
            </button>
          </span>
          </button>
        </md-list-item>

        <div [hidden]="!subLinksOpenStatus[i]">
          <md-list-item *ngFor="let link of blogLinksCategory.links">
            <button md-button flex mdTooltip="{{link.description}}"
                    [mdTooltipPosition]="'right'"
                    (click)="openExternalLink(link.url)"
                    layout-fill layout-wrap>
              <span layout="row" layout-align="center center">
                <span class="raised no-decoration">
                  {{link.displayName}}
                </span>
                <span flex></span>
              </span>
            </button>
          </md-list-item>
        </div>
      </div>
    </md-list>


  </div>

  <div class="sidenav-face" flex
       (click)="toggleSideNavShowStatus()"
       [@sideNavFaceState]="sideNavState"
       [hidden]="hideSideNav"></div>
</section>

<!-- Header -->
<section layout="row">
  <div flex>
    <md-toolbar class="mat-primary md-whiteframe-2dp" layout="row">
      <button md-icon-button (click)="toggleSideNavShowStatus()">
        <md-icon>menu</md-icon>
      </button>
      <a [routerLink]="'/'" class="raised">{{blog.siteName}}</a>
      <div flex></div>
    </md-toolbar>
  </div>
</section>

