<!-- SideNav -->
<section layout="row"
         class="sidenav">
  <div class="sidenav-content"
       layout-fill
       [@sideNavState]="sideNavState"
       [hidden]="hideSideNav">
    <div class="md-padding" layout="row" layout-align="center center">
      <img class="avator" src="assets/images/avator.png">
    </div>
    <div class="md-padding" layout="column" layout-align="center center">
      <h4 class="raised">{{blogConfig.author}}</h4>
      <span class="raised">{{blogConfig.description}}</span>
    </div>


    <md-list layout="column">
      <md-list-item>
        <button md-button flex layout-fill [disabled]="true">
          <span class="raised-text" flex></span>
        </button>
      </md-list-item>
      <md-list-item>
        <button md-button flex
                (click)="toggleLinksOpenStatus(0)"
                layout-fill layout-wrap>
        <span layout="row" layout-align="center center">
          <span class="raised">Socials</span>
          <span flex></span>
          <button md-icon-button [disabled]="true">
            <md-icon class="raised">
              {{linkOpenStatus[0]?'keyboard_arrow_up':'keyboard_arrow_down'}}
            </md-icon>
          </button>
        </span>
        </button>
      </md-list-item>
      <div [hidden]="!linkOpenStatus[0]">
        <md-list-item *ngFor="let blogLink of blogConfig.socialLinks">
          <button md-button flex
                  mdTooltip="{{blogLink.description}}"
                  [mdTooltipPosition]="'right'"
                  (click)="openExternalLink(blogLink.url)"
                  layout-fill layout-wrap>
        <span layout="row" layout-align="center center">
          <span class="raised no-decoration">
            {{blogLink.displayName}}
          </span>
          <span flex></span>
        </span>
          </button>
        </md-list-item>
      </div>

      <md-list-item>
        <button md-button flex
                (click)="toggleLinksOpenStatus(1)"
                layout-fill layout-wrap>
        <span layout="row" layout-align="center center">
          <span class="raised">Friend Links</span>
          <span flex></span>
          <button md-icon-button [disabled]="true">
            <md-icon class="raised">
              {{linkOpenStatus[1]?'keyboard_arrow_up':'keyboard_arrow_down'}}
            </md-icon>
          </button>
        </span>
        </button>

      </md-list-item>

      <div [hidden]="!linkOpenStatus[1]">
        <md-list-item *ngFor="let blogLink of blogConfig.friendLinks">
          <button md-button flex
                  mdTooltip="{{blogLink.description}}"
                  [mdTooltipPosition]="'right'"
                  (click)="openExternalLink(blogLink.url)"
                  layout-fill layout-wrap>
        <span layout="row" layout-align="center center">
          <span class="raised no-decoration">
            {{blogLink.displayName}}
          </span>
          <span flex></span>
        </span>
          </button>
        </md-list-item>
      </div>
    </md-list>


  </div>

  <div class="sidenav-face" flex
       (click)="toggleSideNavShowStatus()"
       [@sideNavFaceState]="sideNavState"
       [hidden]="hideSideNav"></div>
</section>

<!-- Header -->
<section layout="row">
  <div flex>
    <md-toolbar class="mat-primary" layout="row">
      <button md-icon-button (click)="toggleSideNavShowStatus()">
        <md-icon>menu</md-icon>
      </button>
      <span>{{blogConfig.blogName}}</span>
      <div flex></div>
    </md-toolbar>
  </div>
</section>

