/*Common*/
.raised {
  color: white;
}

.no-decoration {
  text-decoration: none !important;
}

/*Header*/

/*SideNav*/
.avator {
  width: 60%;
  height: auto;
  border-radius: 50%;
}

.sidenav {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.sidenav-content {
  width: 300px;
  height: 2000px;
  background: #1990df;
}

.sidenav-face {
  opacity: 0.4;
  background: grey;
}