<section ng-controller="tagController as vm" ng-cloak>
  <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.showProgressBar">
    <md-progress-linear class="md-warn" md-mode="indeterminate"></md-progress-linear>
  </div>

  <md-content class="md-padding" layout-wrap flex>
    <md-subheader class="md-no-sticky">Tags Contains "{{vm.tagName}}"</md-subheader>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="article in vm.tagDetailList" >
        <div class="md-list-item-text" layout="column" layout-wrap>
          <h3>{{article.title}}</h3>
          <h4>发布于:{{article.published | date:'yy-MM-dd'}}</h4>
          <p>{{article.content.text | summaryFilter:80 }}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>

    </md-list>
  </md-content>
</section>