<section layout="row" >
  <div *ngIf="sideNavbarOpened">
    <nav-sidebar></nav-sidebar>
  </div>




  <div flex [@sidenavState]="sideNavbarShowStatus" >
    <md-toolbar color="primary" layout="row" >
      <button md-icon-button (click)="toggleNavSidebar()">
        <md-icon>menu</md-icon>
      </button>
      <span>Aquariuslt Home</span>
      <div flex></div>

      <div>
        <button md-icon-button *ngIf="!searchInputOpened" (click)="toggleSearchInput()">
          <md-icon>search</md-icon>
        </button>
        <button md-icon-button *ngIf="searchInputOpened" (click)="toggleSearchInput()">
          <md-icon>cancel</md-icon>
        </button>
      </div>
    </md-toolbar>
  </div>
</section>