/* a line head */
.conversation-list-heading{
  border-bottom: solid rgb(221, 221, 221) 1px;
  box-sizing: border-box;
  text-align: center;
}

.main-content {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}