<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1976d2">
  <meta name="google-site-verification" content="<%= htmlWebpackPlugin.options.google_site_verification %>"/>
  <meta id="google-analytics" name="google-analytics" content="<%= htmlWebpackPlugin.options.google_analytics %>"/>

  <!-- GrowingIO Analytics code version 2.1 -->
  <!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->

  <script type='text/javascript'>
    !function(e, t, n, g, i) {
      e[i] = e[i] || function() {
        (e[i].q = e[i].q || []).push(arguments);
      }, n = t.createElement('script'), tag = t.getElementsByTagName('script')[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') +
        g, tag.parentNode.insertBefore(n, tag);
    }(window, document, 'script', 'assets.growingio.com/2.1/gio.js', 'gio');
    gio('init', '9cf17968876758d7', {});
    gio('send');

  </script>

  <!-- End GrowingIO Analytics code version: 2.1 -->

</head>
<body>
<div id="app">
  Loading...
</div>
</body>
</html>
