<div role="main" class="container">
  <div class="row">
    <!-- avator area-->
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="profile center-block">
        <img src="http://blog.aquariuslt.com/images/avator.png" class="avator img-thumbnail">
        <h2 class="text-center">Aquariuslt</h2>
        <ul class="vcard-details">
          <li class="vcard-detail" title="Zhuhai">
            <span class="octicon octicon-location"></span>
            Zhuhai
          </li>
          <li class="vcard-detail">
            <span class="octicon octicon-mail "></span>
            <a class="email"
               href="mailto:SuperAquariuslt@Gmail.com">
              SuperAquariuslt@Gmail.com
            </a>
          </li>
          <li class="vcard-detail">
            <span class="octicon octicon-link "></span>
            <a href="http://blog.aquariuslt.com"
               class="url" rel="nofollow me">
              http://blog.aquariuslt.com
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-8">
      <div class="main-content center-block">
        <h3>Introduction</h3>
        <p>正在努力成为一名,兴趣使然的Coder</p>
      </div>
    </div>
  </div>
</div>
